<template name="theme">
  <li class="setting">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p class="settingName">Theme</p>
        </div>
      </div>
      <div class="media-right">
        <div class="content">
          <p class="coinPrice has-text-right is-pulled-right">
            <div class="control">
              <label class="radio">
                <input type="radio" name="answer" class="text--white"> Light
              </label>
              <label class="radio">
                <input type="radio" name="answer" class="text--white"> Dark
              </label>
            </div>
          </p>
        </div>
      </div>
    </article>
  </li>
</template>