<template name="currency">
  <li class="setting">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p class="settingName">Currency</p>
        </div>
      </div>
      <div class="media-right">
        <div class="content">
          <p class="coinPrice has-text-right is-pulled-right">
            <div class="select">
              <select>
                <option>CAD ($)</option>
                <option>USD ($)</option>
              </select>
            </div>
          </p>
        </div>
      </div>
    </article>
  </li>
</template>