<template name="coinsList">
  <div class="container">
    <ul class="coinsList">
      {{#each arrayify coinsList}}
      <li class="coin">
        <article class="media">
          <div class="media-left">
            <figure class="image">
              <img class="coinIcon" src="images/{{value.symbol}}.svg" alt="{{value.name}}" />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p class="coinName">{{value.name}}</p>
            </div>
          </div>
          <div class="media-right">
              <div class="content">
                <p class="coinPrice has-text-right is-pulled-right"><sup>$</sup>{{formatCurrency value.price_usd}}</p>
                <small class="coinPriceChange24h has-text-right is-pulled-right {{isNegative value.percent_change_24h}}">{{value.percent_change_24h}}%</small>
              </div>
            </div>
        </article>
      </li>
      {{/each}}
    </ul>
  </div>
</template>